/* pip-boy-primary-color: #18dc0c;
pip-boy-secondary-color: #11291b;
pip-boy-background-color: #10170f; */

body {
    background-color: black;
    margin: 0;
    height: 100vh;
    /* cursor: url("/nuke.png"), auto; */
}

a {
    text-decoration: none;
    color: inherit;
    letter-spacing: 3px;
}

a:visited {
    text-decoration: none;
}

a:hover {
    background-color: #18dc0c;
    color: black;
    text-shadow: 0 0 10px black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 50%, transparent 50%);
    background-size: 100% 4px; /* height of each scanline */
}

.border {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    border-radius: 20px;
}

.monitor {
    position: fixed;
    width: 70vw;
    height: 100vh;
    pointer-events: none;
    z-index: 2;
}

.screen {
    display: flex;
    flex-direction: column;
    width: 63vw;
    height: 74vh;
    padding-left: 7%;
    padding-right: 10%;
    box-sizing: border-box;
    background-color: #10170fc0;
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: #18dc0c;
    text-shadow: 0 0 10px #18dc0c;
    box-shadow: inset 0 0 300px rgba(0,0,0,0.6);

    /* crt effect */
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 50%,
            transparent 50%);
    background-size: 100% 4px; /* height of each scanline */
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    font-size: 1.5rem;
}

.cursor-area {
    display: flex;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1vw;
    margin-bottom: 3vh;
    padding-bottom: 5px;
    font-size: 1rem;
}

.footer p {
    margin: 0.5rem;
    font-display: swap;
}

.start {
    display: flex;
    gap: 1vw;
}

.time {
    display: flex;
    padding: 0px 10px;
    background-color: #11291b;
}

.battery {
    display: flex;
    padding: 0px 10px;
    background-color: #11291b;
}

.weather-container{
    display: flex;
    padding: 0px 10px;
    background-color: #11291b;
}

.weather-icon {
    padding-top: 4px;
    width: 24px;
    height: 24px;
}

.cursor-blinker {
    display: inline-block;
    animation: blink 1s infinite;
    /* animation: blink 0.4s steps(1, end) infinite; */ /* fast blinking */
    }

@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;} /* Cursor disappears halfway through the cycle */
}