/* pip-boy-primary-color: #18dc0c;
pip-boy-secondary-color: #11291b;
pip-boy-background-color: #10170f; */

body {
    background-color: black;
    margin: 0;
    height: 100vh;
    /* cursor: url("/nuke.png"), auto; */
    /* overflow: hidden; */
}

.border {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

.monitor {
    position: absolute;
    width: 70vw;
    height: 100vh;
    /* crt effect */
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 50%,
            transparent 50%);
    background-size: 100% 7px; /* height of each scanline */
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 11.5vh;
    width: 63vw;
    height: 74vh;
    box-sizing: border-box;
    background-color: #10170fc0;
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: #18dc0c;
    text-shadow: 0 0 10px #18dc0c;
    box-shadow: inset 0 0 300px rgba(0,0,0,0.6);
}

.nav {
    display: flex;
    padding-left: 7%;
    padding-right: 10%;
}

.bottom {
    display: flex;
    padding-left: 7%;
    padding-right: 10%;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1vw;
    margin-bottom: 3vh;
    padding-left: 7%;
    padding-right: 10%;
}

.footer h4 {
    margin: 0.5rem;
}

.start {
    display: flex;
    gap: 1vw;
}

.time {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #11291b;
}

.battery {
    display: flex;
    background-color: #11291b;
}

.weather-container{
    display: flex;
    background-color: #11291b;
}

.weather-icon {
    width: 24px;
    height: 24px;
}

.cursor-blinker {
    display: inline-block;
    animation: blink 1s infinite;
    /* animation: blink 0.4s steps(1, end) infinite; */ /* fast blinking */
    }

@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;} /* Cursor disappears halfway through the cycle */
}